{% extends "base.html" %}

{% block content %}
        <div class ="row">
            <div class="col-12">
                <form method ="post">
                    {% csrf_token %}
                    <label>Value 1</label>
                    <input type="text" name="num1" class="from-control"/>
                    <select name="opr" class="from-control">
                        <option value="+">+</option>
                        <option value="-">-</option>
                        <option value="*">*</option>
                        <option value="/">/</option>
                    </select>
                    <label>value 2</label>
                    <input type="text" name="num2" class="from-control"/>
                    <button type="submit">calculator</button><br/>
                    <label>output</label>
                    <input type="text" value="{{c}}" class="from-control"/>
                </form>
            </div>
        </div>
{% endblock %}